body {
	color: $dark-gray;
	font-family: 'gotham-book';
}

b, strong {
	font-family: 'gotham-bold';
}

.sp-container {
	margin:0 auto;
	width: 900px;
}

.sp-content {
	padding: 80px 0;
}

section {
	background: $white;
	.sp-title {
		text-align:center;
		font-size:28px;
		position:relative;
		margin-bottom:25px;
		font-family: 'gotham-black';
		span {
			font-size:14px;
			color: $dark-blue;
			font-family: 'gotham-bold';
		}
		&:before, &:after {
			content:'';
			width: 50px;
			height: 5px;
			position: absolute;
			top: 69%;
		}
		&:before {
			left:50%;
			margin-left:-25%;
			background: url('../../images/title-before.png') no-repeat center center;
		}
		&:after {
			right:50%;
			margin-right:-25%;
			background: url('../../images/title-after.png') no-repeat center center;
		}
	}
	&#sct1 {

	}
	&#sct2 {
		background: #eeeeee;
	}
	&#sct3 {
		min-height:560px;
	  background-image: url('../../images/bg-depoimentos.jpg');
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	&#sct4 {
		
	}
	&#sct5 {
		background: #4a6a91;
	}
}

// responsive

@media (max-width: 1366px) {
	
}

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 768px) {
	.sp-container {
		width: 100%;
	}
}