body {
	color: $dark-gray;
	font-family: 'gotham-book';
}

b, strong {
	font-family: 'gotham-bold';
}

.sp-container {
	margin:0 auto;
	width: 900px;
}

.sp-content {
	padding: 80px 0;
}

section {
	background: $white;
	.sp-title {
		text-align:center;
		font-size:28px;
		position:relative;
		margin-bottom:25px;
		font-family: 'gotham-black';
		span {
			font-size:14px;
			color: $blue;
			font-family: 'gotham-bold';
		}
		&:before, &:after {
			content:'';
			width: 50px;
			height: 5px;
			position: absolute;
			top: 69%;
		}
		&:before {
			left:50%;
			margin-left:-25%;
			background: url('../../images/title-before.png') no-repeat center center;
		}
		&:after {
			right:50%;
			margin-right:-25%;
			background: url('../../images/title-after.png') no-repeat center center;
		}
	}
	&#sct1 {
		.owl-carousel {
			margin-top:25px;
			.owl-item {
				padding:20px;
				.sp-cursos {
					background: $black;
					padding:60px 20px;
					border-radius:4px;
					min-height: 394px;
					span {
						display:block;
						font-size:12px;
						color: $light-blue;
						margin-bottom: 12px;
						font-family: 'gotham-bold';
					}
					h3 {
						font-size:18px;
						color:$white;
						margin-bottom: 20px;
						font-family: 'gotham-bold';
					}
					p {
						font-size:13px;
						color: #ababab;
						margin-bottom: 20px;
					}
					.icon-curso {
						width:76px;
						height: 76px;
						margin:0 auto;
						border-radius:100%;
						background: $light-blue;
						margin-bottom: 10px;
					}
					a {
						display:none;
						padding: 10px 35px;
					}
				}
				&.active.center {
					padding: 0;
					.sp-cursos {
						background: $blue;
						min-height: 440px;
						span {
							color: $white;
						}
						p {
							color: #eceef1;
						}
						.icon-curso {
							background: $dark-blue;
						}
						a {
							display:inline-block;
						}
					}
				}
			}
			.owl-nav {
				button.owl-next, button.owl-prev {
					position:absolute;
					top: 50%;
					margin-top:-17px;
					background: $light-blue;
					color: $white;
					border-radius:4px;
					padding:2px 12px!important;
					outline:none;
					font-size: 20px;
				}
				button.owl-next {
					right: -50px;
				}
				button.owl-prev {
					left: -50px;
				}
				@media (max-width: 767.98px) {
					display:none;
				}
			}
			.owl-dots {
				display:none;
				@media (max-width: 767.98px) {
					display:block;
					margin-top:20px;
				}
			}
		}
	}
	&#sct2 {
		background: #eeeeee;
		p {
			font-size: 32px;
		}
	}
	&#sct3 {
		min-height:560px;
	  background-image: url('../../images/bg-depoimentos.jpg');
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  .sp-title {
			&:before {
				background: url('../../images/title-before-dp.png') no-repeat center center;
			}
			&:after {
				background: url('../../images/title-after-dp.png') no-repeat center center;
			}
		}
	}
	&#sct4 {
		
	}
	&#sct5 {
		background: #4a6a91;
	}
}

// responsive

@media (max-width: 1366px) {
	
}

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 768px) {
	.sp-container {
		width: 100%;
	}
}