@font-face {
  font-family: 'gotham-book';
  src: url('../font/Gotham-Book.woff2') format('woff2'),
       url('../font/Gotham-Book.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-bold';
  src: url('../font/Gotham-Bold.woff2') format('woff2'),
       url('../font/Gotham-Bold.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-black';
  src: url('../font/Gotham-Black.woff2') format('woff2'),
       url('../font/Gotham-Black.woff')  format('woff');
  font-weight: normal;
  font-style: normal;
}