footer {
	background: #040404;
	color: $white;
	padding: 80px 0 80px 0;
	h1 {
		font-family: 'gotham-black';
		font-size: 28px;
    margin-bottom: 25px;
	}
	p {
		font-size: 14px;
		color: #ccc;
	}
	hr {
		border-top: 1px solid rgba(255,255,255,.1);
		margin:30px 0;
	}
	a {
		text-decoration:none;
		display:inline-block;
		margin: 10px 5px 5px 0;
		background: $dark-gray;
		border-radius: 4px;
		&:hover {
			background: $blue;
		}
	}
}


// responsive

@media (min-width: 1366.98px) {
	
}

@media (max-width: 1366px) {
	
}

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 768px) {
	
}