header {
	&.home {
		min-height:560px;
	  background-image: url('../../images/bg-header.jpg');
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  h1 {
	  	font-size: 34pt;
			font-family: 'gotham-bold';
	  }
	  p {
	  	margin-bottom:20px;
	  }
	  .bt {
	  	min-width:200px;
	  }
	}
	&.header {
		text-align: center;
		padding:112px 0;
		background-color:$dark-gray;
		font-family: 'gotham-bold';
		&.hd-quem-somos {
		  background-image: url('../../images/bg-quem-somos.jpg');
		  background-position: center center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
		&.hd-cursos {
		  background-image: url('../../images/bg-cursos.jpg');
		  background-position: center center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
		&.hd-coaching {
		  background-image: url('../../images/bg-coaching.jpg');
		  background-position: center center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
		&.hd-blog {
		  background-image: url('../../images/bg-blog.jpg');
		  background-position: center center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
		&.hd-contato {
		  background-image: url('../../images/bg-contato.jpg');
		  background-position: center center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
	}
}

// responsive

@media (min-width: 1366.98px) {
	
}

@media (max-width: 1366px) {
	
}

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 768px) {
	
}