header {
	&.home {
		min-height:560px;
	  background-image: url('../../images/bg-header.jpg');
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  h1 {
	  	font-size: 34pt;
			font-family: 'gotham-bold';
	  }
	  p {
	  	margin-bottom:20px;
	  }
	}
}


// responsive

@media (min-width: 1366.98px) {
	
}

@media (max-width: 1366px) {
	
}

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	
}

@media (max-width: 768px) {
	
}