// colors

$white: rgb(255, 255, 255);
$yellow: rgb(247, 212, 24);
$blue: rgb(31, 57, 92);
$light-blue: rgb(73, 108, 153);
$dark-blue: rgb(0, 30, 50);
$light-gray: rgb(238, 238, 238);
$dark-gray: rgb(77, 77, 77);
$black: rgb(17,17,17);